/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#main{
  display: inline-block;
}

#organ{
  padding: 10px;
  margin-right: 50px;
  float: left;
  vertical-align: top;
  background-color: #333;
  border-radius:5px;
  box-shadow:0 -1px 10px 0px #999 inset, 10px 10px 10px 0px #999;
}

.menu{
  margin-left: 30px;
  width:280px;
  padding:5px;
  display: default;
  border-radius: 5px;
  box-shadow: 0 0px 10px 0px #111 inset;
}

.bindFormInput{
    width: 40px;
}

.piano-key{
  padding: 0px;
  margin: 5px;
  height: 130px;
  width: 45px;
  text-align:center;
  float: left;
  /*outline-style: solid;
  outline-width: 1px;
  outline-color: black;*/
  border-radius:5px;
  /*box-shadow: 0 0 3pt 2pt red;*/
}

#key-board{
  display: inline-block;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 0 0px 20px 2px #111 inset;
}

.pressed{
  background-color: #FDF;
  box-shadow:0 -2px 2px 0px #111 inset, 0 5px 2px 0px #111 inset;
/*0 -5px 10px 1px yellow inset, */
}

.unpressed{
  background-color: #EEEEEE;
  box-shadow: 0 -13px 2px 0px #666 inset, 0 5px 2px 0px #111 inset;
}

#track{
  float:left;
  width: 120px;
}

#play{
  outline: 0;
  background-color:#EEE;
  border-radius:5px;
  border: none;
  box-shadow: 0 0 2px 0px #333 inset;
  box-shadow: 0 0 5px 1px #111 inset;
}

#record{
  outline: 0;
  background-color:#EEE;
  border-radius:5px;
  border: none;
  box-shadow: 0 0 5px 1px #111 inset;
}

#track-loader{
  float: left;
  height: 300px;
  width: 190px;
  background-color: #CCC;
  box-shadow: -3px -8px 15px 5px #555 inset, 10px 10px 10px 0px #999;
  border-radius: 15px;
}

#loader-screen-wrapper{
  // pointer-events: none;
  overflow: hidden;
  width: 140px;
  height: 100px;
  margin: 0;
  position: relative;
  padding: 0;
  top: 20px;
  left: 25px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #888;
}

#loader-screen-wrapper:before{

}

#loader-screen{
  position: relative;
  top: -2px;
  background-color: #999;
  width: 100%;
  height: 100%;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#loader-circle-outer{
  background-color: #DDD;
  margin: 0;
  width: 130px;
  height: 130px;
  position: relative;
  top: 40px;
  left: 30px;
  border-radius: 65px;
  box-shadow: 0 0 5px 2px #333 inset;
}

#loader-circle-inner{
  background-color: #CCC;
  margin: 0;
  width: 40px;
  height: 40px;
  position: relative;
  top: 25px;
  left: 45px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #333;
}

#loader-buttons{
  position: relative;
  top: 20px;
  left: 20px;
}

.loader-menu-item{
  cursor: pointer;
  padding: 0 5px;
}

#loader-text-input{
  position:relative;
  top:-3px;
  height: 18px;
  background-color: #999;
  // border-radius: 3px;
  margin:0;
  border:0;
  padding:0;
  width: 100%;
}

.selected{
  background-color: #777;
}
